/*! ----------------------Colores (Para fondos)----------------------------*/
.bg-blue-utz {
    background-color: #002E60;
  }
.bg-green-utz {
  background-color: #009475;
}
.bg-green-SICE {
    background-color: #9EAF9B;
}
.bg-green-utz-transparente {
    background-color: rgba(0, 148, 117, 0.6);
}
.bg-green-SICE-obscuro {
    background-color: #00604C;
}
.bg-green-utz-claro{
    background-color: #4eceb7;
}
.bg-gray-SICE {
    background-color: #949495;
}
.bg-red-SICE {
    background-color: #CA4E4E;
}



/*! ----------------------Colores (General)----------------------------*/
.blue-utz {
  color: #002E60;
}
.green-utz {
  color: #009475;
}
.green-SICE-fondos {
    color: #9EAF9B;
}
.green-SICE-obscuro {
    color: #00604C;
}
.green-utz-claro{
    color: #48A18C;
}
.gray-SICE {
    color: #949495;
}
.red-SICE {
    color: #CA4E4E;
}


/* -----------------------------Efectos------------------------------------------------- */

.btn-brillo-efecto:hover {
    filter: brightness(1.2);
    opacity: 1 !important;
    background-color: inherit !important;
}




/*! ----------------------Tipografia----------------------------*/
.body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*! ---------------------------Clases------------------------------ */
.logoNav {
    width: 15px;
    height: 15px;
}